jinja2
fastapi
uvicorn[standard]
langchain
langchain-core
langchain-openai
langgraph
langgraph-checkpoint-postgres
python-multipart
pypdf
python-docx
pydantic
openai
minio
python-dotenv
psycopg-pool
psycopg[binary,pool]
sqlalchemy[asyncio]
asyncpg
pgvector
greenlet
reportlab
python-jose[cryptography]
httpx
apscheduler
twilio
pymupdf
numpy
fitz
fpdf2
aioboto3
boto3
aiobotocore
openpyxl
pandas
python-pptx
