jinja2
fastapi
uvicorn
langchain
langchain-openai
langgraph
langgraph-checkpoint-postgres
python-multipart
pypdf
python-docx
pydantic
openai
minio
python-dotenv
psycopg-pool
psycopg[binary]
sqlalchemy
asyncpg
pgvector
greenlet
reportlab
